@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: darkgrey;
    color: white;
    padding: 1.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329);
}

h1, nav {
    border: 1px dotted black;
}

h1 {
    flex: 0 0 320px;
}

nav {
    display: flex;
    flex: 0 0 450px;
}

button {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: whitesmoke;
    padding: 20px 15px;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.219);
}

h2 {
    padding-bottom: 1.5px;
}

@media screen and (max-width: 500px) {
    
    header, header > nav {
        flex-flow: column nowrap;
        flex-basis: auto;
    }
    header > h1 {
        flex-basis: 50px;
        text-align: center;
        align-content: center;
    }
        button {
        flex-basis: 50px;
        margin: 1px;
    }
}