@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --colorf: white;
    --colorf2: black;
    --background-color: whitesmoke;
    --background-color1: rgb(87, 87, 87);
    --background-color2: rgba(0, 0, 0, 0.384);
    

    --font-weight: bolder;

    --font1:  Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: var(--colorf);
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}

a {
    color: var(--colorf);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;

    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: var(--background-color);
    color: var(--colorf2);
}

.imagem {
    background-color: var(--background-color1);
    color: var(--colorf);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.322);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p {
    display: inline-block;
    padding: 7px;
    background-color: var(--background-color2);
    border-radius: 5px;    
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url('../imagens/background002.jpg') url('../imagens/background002.png');
    background-position: right center;
}

#img02 {
    background-image: url('../imagens/background001.png') url('../imagens/background001.jpg');
    background-position: right center;
}

footer {
    background-color: black;
    color: var(--colorf);
    padding: 10px;
    text-align: center;
}